@font-face {
  font-family: Poppins;
  src: url(./assets/Poppins/Poppins-Light.ttf);
}

body{
  margin: 0;
  padding: 0;
  font-family: Poppins;
  background-color: #151515;
  overflow-x: hidden;
}

.home{
  height: 120vh;
}

.name{
  font-size: calc(2rem + 2vw);
  color: #fff;
  margin-top: 37vh;
  animation: appear 2s;
}

.line{
  height: 0.2vh;
  margin-top: -1.5vh;
  background-color: teal;
  width: calc(20rem + 15vw);
  margin-left: auto;
  margin-right: auto;
  animation: appear 3s;
}

.overview{
  color: #fff;
  font-size: calc(0.6rem + 0.5vw);
  letter-spacing: 3px;
  word-spacing: 2px;
  animation: appear 4s;
}

.hello {
  font-family: monospace;
  font-size: calc(0.6rem + 0.5vw);
  color: rgba(30, 165, 165, 0.721);
  animation: appear 1s;
  margin-left: -3vh;
  margin-top: 70vh;
  transform: rotate(-90deg);
}

.rotate-0 {
  transform: none;
  margin-left: 45%;
  margin-top: 75vh;
}

.logo {
  border-left: 2px solid teal;
  height: calc(1rem + 0.7vw);
  color: #fff;
  -webkit-animation: appear 1s;
  animation: appear 1s;
  font-size: calc(0.6rem + 0.5vw);
  letter-spacing: 2px;
  font-family: Poppins;
}

.link{
  font-size: calc(0.5rem + 0.3vw);
  text-shadow: none;
  color: rgb(252, 204, 255);
  text-decoration: none;
  cursor: pointer;
}

.link:hover{
  color: rgb(0, 255, 221);
}

@-webkit-keyframes appear {
  0%, 50% {
    opacity: 0;
  }
}

@keyframes appear {
  0%, 50% {
    opacity: 0;
  }
}

li{
  font-size: calc(0.7rem + 0.5vw);
  animation: appear 3s;
}

@keyframes slide-left {
  0% {
    margin-left: -1.5rem;
  }
}

.introduce{
  /* font-family: monospace; */
  font-size: calc(0.7rem + 0.5vw);
  font-family: monospace;
  color: rgb(233, 233, 233);
}

.var{
  text-decoration: none;
  color: rgb(0, 166, 255);
  font-family: Dancing Script;
}

.equals{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.br1,.br2{
  text-decoration: none;
  color: rgb(255, 240, 164);
}

.dp{
  box-shadow: 0.5rem 0.5rem 0.2rem 0.05rem rgba(109, 109, 109, 0.554);
  height: 70vh;
  animation: visible 3s;
}

.myself{
  font-size: calc(0.5rem + 0.7vw);
  font-family: monospace;
  text-align: justify;
  width: 90%;
  line-height: 4vmin;
  color: rgb(252, 255, 195);
}

@keyframes visible {
  0%,50%{
    visibility: hidden;
  }
}

.skills{
  font-size: calc(1rem + 1.2vw);
}

.tech-skills{
  font-size: calc(0.7rem + 0.8vw);
}

.skill-text{
  top: 50%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 87%;
}

.skill1, .skill2, .skill3, .skill4, .skill5, .skill6, .skill7, .skill8, .skill9{
  width: 90%;
  height: 4vmin;
  border-radius: 5rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: calc(0.1rem + 1vw);
  line-height: 2vmin;
}

.skill1 p, .skill2 p, .skill3 p, .skill4 p, .skill5 p, .skill6 p, .skill7 p, .skill8 p, .skill9 p{
  border-radius: 5rem 0 0 5rem;
  color: rgb(0, 21, 255);
  height: 100%;
}

.skill1 p{
  background: linear-gradient(to right, rgb(255, 248, 176), rgb(161, 255, 255));
  width: 85%;
}

.skill2 p{
  background: linear-gradient(to right, rgb(255, 248, 176), rgb(216, 161, 255));
  width: 80%;
}

.skill3 p{
  background: linear-gradient(to right, rgb(255, 248, 176), rgb(161, 255, 161));
  width: 90%;
}

.skill4 p{
  background: linear-gradient(to right, rgb(255, 248, 176), rgb(255, 211, 161));
  width: 92%;
}

.skill5 p{
  background: linear-gradient(to right, rgb(255, 248, 176), rgb(255, 161, 161));
  width: 85%;
}

.skill6 p{
  background: linear-gradient(to right, rgb(255, 248, 176), rgb(255, 161, 252));
  width: 75%;
}

.skill7 p{
  background: linear-gradient(to right, rgb(255, 248, 176), rgb(255, 161, 217));
  width: 85%;
}

.skill8 p{
  background: linear-gradient(to right, rgb(255, 248, 176), rgb(161, 255, 231));
  width: 87%;
}

.skill9 p{
  background: linear-gradient(to right, rgb(255, 248, 176), rgb(161, 161, 255));
  width: 78%;
}

.interests{
  width: 80%;
  text-align: justify;
  font-size: calc(0.3rem + 1vw);
  color: rgb(0, 166, 255);
  line-height: 3vmin;
}

.lang{
  font-size: calc(0.3rem + 1vw);
  line-height: 3vmin;
}

.ed{
  background: url(./assets/education-backg.jpg), rgb(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  background-blend-mode: multiply;
}

.achievements h4{
  color: rgb(255, 223, 164);
  line-height: 4vmin;
}

.transcripts{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow-x: hidden;
}

.contactMe{
  background: url(./assets/contact-backg.jpg), rgb(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  background-blend-mode: multiply;
}

#btnID{
  border: 0.1rem solid rgb(0, 190, 190);
  border-radius: 1vw;
  background-color: rgb(170, 244, 255);
  opacity: 0.8;
}
.bot-btn{
  width: 4vw;
  cursor: pointer;
}