@font-face {
  font-family: Poppins;
  src: url(./assets/Poppins/Poppins-Light.ttf);
}

body{
  margin: 0;
  padding: 0;
  font-family: Poppins;
  background-color: #151515;
  overflow-x: hidden;
}

.home{
  height: 120vh;
}

.hello {
  font-family: monospace;
  font-size: calc(0.6rem + 0.5vw);
  color: rgba(30, 165, 165, 0.721);
  animation: appear 1s;
  margin-left: -3vh;
  margin-top: 70vh;
  transform: rotate(-90deg);
}

.rotate-0 {
  transform: none;
  margin-left: 47%;
  margin-top: 75vh;
}

.logo {
  border-left: 2px solid teal;
  height: calc(1rem + 0.7vw);
  color: #fff;
  -webkit-animation: appear 1s;
  animation: appear 1s;
  font-size: calc(0.6rem + 0.5vw);
  letter-spacing: 2px;
  font-family: Poppins;
}

.link{
  font-size: calc(0.5rem + 0.3vw);
  text-shadow: none;
  color: rgb(252, 204, 255);
  text-decoration: none;
  cursor: pointer;
}

.link:hover{
  color: rgb(0, 255, 221);
}

@-webkit-keyframes appear {
  0%, 50% {
    opacity: 0;
  }
}

@keyframes appear {
  0%, 50% {
    opacity: 0;
  }
}

li{
  font-size: calc(0.7rem + 0.5vw);
  animation: appear 3s;
}

@keyframes slide-left {
  0% {
    margin-left: -1.5rem;
  }
}

.skills{
  font-size: calc(1rem + 1.2vw);
}

/* .ed{
  background: url(./assets/education-backg.jpg), rgb(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  background-blend-mode: multiply;
} */

/* .achievements h4{
  color: rgb(255, 223, 164);
  line-height: 4vmin;
}

.transcripts{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow-x: hidden;
}

.contactMe{
  background: url(./assets/contact-backg.jpg), rgb(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  background-blend-mode: multiply;
}

#btnID{
  border: 0.1rem solid rgb(0, 190, 190);
  border-radius: 1vw;
  background-color: rgb(170, 244, 255);
  opacity: 0.8;
}
.bot-btn{
  width: 4vw;
  cursor: pointer;
} */